application:

  ### AUTHENTICATION
  authentication:
    access_token:
      jwt_secret: "Z8GJ64eimY"
      life_time: "3600000" # milliseconds

  i18n:
    resources:
      - classpath:okrs-core/message
      - classpath:okrs-api/message
      - classpath:core-exception/message
      - classpath:core-upload/message
      - classpath:okrs-core-exception/message
      - classpath:core-api-exception/message
      - classpath:core-authentication/message

#UPLOAD_FILE
  upload:
    path:
      file:
        storage: ./uploads/images/
    url:
      view: /uploads/view/**

spring:
  application:
    name: okrs-service
#LIQUIBASE
  liquibase:
    changelog: classpath:/database.migration/master-changelog.xml
#DATABASE
#  datasource:
#    url: jdbc:mysql://localhost:3306/okrs
#    username: toanns
#    password: Songtoan0302
#    driver-class-name: com.mysql.cj.jdbc.Driver
#SWAGGER
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER

  ## REDIS
#FILE(Specify the size of the file in MB)
  servlet:
    multipart:
      enabled: true
      max-file-size: 2MB
  cache:
    type: redis
  redis:
    host: localhost
    port: 6379